{% extends 'base.html' %}

{% block title %}Profile - DirectMusicPlatform{% endblock %}

{% block content %}
    <div class="main-content text-center">
        <h2>Upload your Music</h2>
        <p>veröffentliche deine Tracks!</p>
        

        <!-- Upload Button -->
        <div class="profile-info mt-5">
            <h4>Deine Daten</h4>
            <p><strong>Name:</strong> Max Mustermann</p>
            <p><strong>Email:</strong> max@mustermann.de</p>
            <button class="btn btn-primary mt-2">Daten bearbeiten</button>
        </div>

        <div class="file-menu">
            <label for="fileInput">Datei auswählen:</label>
            <input type="file" id="fileInput" />
            <p id="fileName">Keine Datei ausgewählt</p>
          </div>
          
    </div>

    <!-- Zusätzliche Styles für Positionierung des Logout-Buttons -->
    <style>
        .main-content {
            position: relative;
            min-height: 100vh;
        }

        .logout-button {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }

        .profile-avatar img {
            border: 5px solid #fff;
        }

        .profile-info, .music-management, .analytics-button {
            background-color: rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 10px;
        }

        .profile-info p, .music-management p, .analytics-button p {
            font-size: 1.1em;
        }

        .btn {
            width: auto;
            padding: 10px 20px;
            margin: 10px 0;
        }

        .btn:hover {
            opacity: 0.9;
        }
    </style>
{% endblock %}