{% extends "base.html" %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 500px; border-radius: 15px;">
        <h2 class="text-center mb-4" style="color: #290976;">Registrieren</h2>
        <form method="post">
            {% csrf_token %}
            
            <!-- Benutzername -->
            <div class="form-group mb-3">
                <label for="id_username" class="form-label" style="font-weight: bold;">Benutzername</label>
                <input type="text" name="username" id="id_username" class="form-control rounded-pill p-3" value="{{ form.username.value }}">
                {% if form.username.errors %}
                    <div class="invalid-feedback d-block mt-2">
                        {% for error in form.username.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Passwort -->
            <div class="form-group mb-3">
                <label for="id_password1" class="form-label" style="font-weight: bold;">Passwort</label>
                <input type="password" name="password1" id="id_password1" class="form-control rounded-pill p-3" value="{{ form.password1.value }}">
                {% if form.password1.errors %}
                    <div class="invalid-feedback d-block mt-2">
                        {% for error in form.password1.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Passwort bestätigen -->
            <div class="form-group mb-4">
                <label for="id_password2" class="form-label" style="font-weight: bold;">Passwort bestätigen</label>
                <input type="password" name="password2" id="id_password2" class="form-control rounded-pill p-3" value="{{ form.password2.value }}">
                {% if form.password2.errors %}
                    <div class="invalid-feedback d-block mt-2">
                        {% for error in form.password2.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Registrieren Button -->
            
            <button type="submit" class="btn btn-primary w-100 rounded-pill py-2" style="background: #290976; border: none;">Registrieren</button>
            <a type="submit" href="/profile/login" class="btn btn-primary w-100 rounded-pill py-2" style="background: #290976; border: none;">Login</a>
        </form>
    </div>
</div>
{% endblock %}
